/* NavBar menu appears when resize to smaller window*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(/html-css-practice/Navbar-menu/northern-light.jpg) no-repeat
    center fixed;
  background-size: cover;
}

nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

.fa-space-shuttle {
  transform: rotate(-45deg);
  color: white;
  font-size: 50px;
  line-height: 65px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 80px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 4px;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: all 0.4s ease;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* ID of the check button */
#check {
  display: none;
}

@media (max-width: 950px) {
  .fa-space-shuttle {
    font-size: 40px;
    padding-left: 20px;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
